{%load staticfiles%}
<!DOCTYPE HTML>
<head>
  <title>About</title>
  
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'style_transfer/css/about_project.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>


<body  style="background-image: url('{% static "style_transfer/img/bg8.jpg" %}');" background-repeat: no_repeat";>
	 <nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: rgb(59, 17, 87);">
            <a href="../index"><img src="{% static 'style_transfer/img/x1.png' %}" height="80px" width="80px" style=""></a>
            <div class="container">
              <a class="navbar-brand" href="../" style="font-size: 3em; "><strong>Art & Soul</strong></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="../about_team" style="font-size: 1.5em; ">About Me
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../about_project" style="font-size: 1.5em; ">About The Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../instruction" style="font-size: 1.5em; ">Instructions</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
<br><br><br><br>
<h1 style="color:white"><center><strong>About The Project</center></h1>
<!-- <img class="image" src="https://templated.co/items/demos/visualize/images/avatar.jpg"/> -->
<br>
<h2 style="color: white; font-weight: 600">Art & Soul is developed with the motive of bringing<br>
Art forms alive in a Normal Person's Adventures and Memories.<br>
With the help of this platform, People can paint images in State-of-the-Art Paintings.<br>
They can Upload Images, or Even draw Doodles and watch them being Painted in <br>
Magnificent Styles!</h2>
<br>
<!-- <div class="socialmedia" style="align-items: center;">
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-tumblr"></i></a>
</div> -->
<hr />
<p class="footer" align="center">© Art & Soul. All rights reserved. Design: ABV-IIITM.</p>
</body>
</html>