{% load static %}
<!DOCTYPE HTML>
<head>
  <title>Instructions</title>
  
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'style_transfer/css/about_project.css' %}">

</head>

<body  style="background-image: url('{% static "style_transfer/img/bg8.jpg" %}');" background-repeat: no_repeat;";>
	 <nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: rgb(59, 17, 87);">
            <a href="../index"><img src="{% static 'style_transfer/img/x1.png' %}" height="80px" width="80px" style=""></a>
            <div class="container">
              <a class="navbar-brand" href="../" style="font-size: 3em; "><strong><strong>Art & Soul</strong></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="../about_team" style="font-size: 1.5em; ">About Me
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../about_project" style="font-size: 1.5em; ">About The Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../instruction" style="font-size: 1.5em; ">Instructions</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

<h1 style="color: white"><center>Instructions</center></h1>
<br><br>
<!-- <img class="image" src="https://templated.co/items/demos/visualize/images/avatar.jpg"/> -->
<h2 >

	<li style="text-align: left; color: white; font-weight: 500;">Choose the Image you want to style by clicking on Choose File button.</li>
		<li style="text-align: left; color: white;font-weight: 500;">If you want to draw a Doodle, Click on 'Draw A Doodle' button.</li>
		<li style="text-align: left; color: white; font-weight: 500">After doing one of the above, Select your Desired Style Image from the Gallery, and click on Submit.</li>

		<h3 style="color: white; font-weight: 700;">Sit back, Relax and let the Magic Happen!</h3>
	
		
</h2>
<!-- <div class="socialmedia">
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-tumblr"></i></a>
</div> -->
<hr />
<p class="footer" align="center">© Art & Soul. All rights reserved. Design: ABV-IIITM.</p>
</body>
</html>