<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
 div.whole {
  position: fixed;
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
}	
div.whole img {
 margin-left: auto;
 margin-right: auto;
 margin-top: 5%;
 margin-bottom: 5%;
 display: block;
}

</style>
</head>
<body>
<!-- <h1>{{path_img}}</h1> -->
	<!-- <img src="\media\saved_images\out-0.16672156823739534.jpg"> -->
	<div class="whole" style="background-color:black">
	<img src="{{path_img}}" align="centre">
	</div>

</body>
</html>